.chat_main
  .chat_main__group_header
    .chat_main__group_info
      .chat_main__group_hname
        = @group.name
      .chat_main__group_member
        Member :
        - @group.users.each do |user|
          = user.name
    .chat_main__group_edit
      = link_to edit_group_path(@group.id), class:"edit-btn" do
        Edit
  .chat_main__message_list
    = render @messages
  .chat_main__message_footer
    = form_for [@group, @message] do |f|
      .chat_main__message_box
        = f.text_field :content, class: 'message_text', placeholder: 'type a message'
        .chat_main__message_form
          = f.label :image, class: 'chat_main__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'send_btn'